<div class="h-[250px]">
    <app-artist-header />
</div>

<div class="grid grid-cols-5 mt-6" style="display: flex; flex-flow: row wrap; justify-content: center;">

    <div class="flex flex-wrap flex-col col-span-3 mx-4">
        <h1 class="text-white font-sans text-3xl">Top 5</h1>
        <app-song-bar />
        <app-song-bar />
        <app-song-bar />
        <app-song-bar />

        <div class="flex flex-wrap my-6 justify-center">
            <app-song-box [caratulaAlbum]="songtitle" [nombreAlbum]="songalbum">
            </app-song-box>
            <app-song-box [caratulaAlbum]="songtitle" [nombreAlbum]="songalbum">
            </app-song-box>
            <app-song-box [caratulaAlbum]="songtitle" [nombreAlbum]="songalbum">
            </app-song-box>
            <app-song-box [caratulaAlbum]="songtitle" [nombreAlbum]="songalbum">
            </app-song-box>
        </div>
    </div>


    <div class="col-span-2 flex justify-center mt-2">
        <div class="flex flex-col">
            <img [src]="songtitle" alt="Album Cover" class="w-96 h-96 rounded-lg shadow-md">
            <div class="bg-zinc-600 w-96 flex text-justify mt-9 rounded">
                <span class="text-white font-sans m-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate cum in esse animi dolorum repellat omnis, quam officia porro! Iste, cum eos. Architecto nihil ad commodi dolorem soluta. Eveniet, sed?</span>
                
            </div>

        </div>
    </div>


</div>

