<div class="flex my-1 items-center bg-zinc-800 text-white p-2 rounded-lg md:w-full divtodo">
     <div class="w-12 h-12 mr-4">
         <img [src]=cover alt="Album Cover" class="w-full h-full object-cover rounded">
     </div>
     <div class="flex-1">
         <div class=" font-bold sm:text-lg sm:w-full w-24 text-base text-nowrap text-ellipsis overflow-hidden">{{title}}</div>
         <div class="text-sm text-zinc-300 sm:w-full w-24  sm:text-sx text-nowrap text-ellipsis overflow-hidden">{{artist}}</div>
     </div>
     <div class="ml-auto text-gray-400 mr-2 hover:text-pink-600">
         <button (click)="play()" class="flex items-center"><mat-icon class="font-bold">play_arrow</mat-icon></button>
     </div>
 </div>

