.todoeldiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 180px;
    cursor: pointer;
    padding: 4%;
    margin: 4%;
    position: relative;

    .play-button {
        display: block;
        position: absolute;
        //inicialmente ponemos la posicion tanto del eje x como del eje y
        bottom: 30%;
        left: 80%;
        //tambien aplicamos las opacidad para esconderlo
        opacity: 0;
        transform: translateX(-50%);
        transition: bottom 0.6s ease-in-out;
    }
}


.mat-button {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: rgb(241, 241, 241);
    background-color: #db2777;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 60%;
    left: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.87);
}

.image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.nombres {
    width: 80%;
    display: flex;
    flex-flow: column wrap;
    margin: 4%;
    justify-content: start;
}

.todoeldiv {
  transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;

  &:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.125);

    .play-button {
      bottom: 40%; // Ajusta según sea necesario para la posición final
      opacity: 1; // Se vuelve visible
      transition: bottom 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }
  }

  .play-button {
    opacity: 0; // Inicialmente invisible
  }
}
