
<div class="todoeldiv animate-fade animate-duration-300 font-sans" >

  <div class="divimage">

    <img  (error)="setErrorCover()" [id]="artistId+'-cover'" class="image" [src]="getCover()" alt="" [routerLink]="['/player/artist/', artistId]">
    <button mat-raised-button class="play-button" (click)="play()"><mat-icon class="mat-button">play_arrow</mat-icon></button>
  </div>

  <div class="nombres" [routerLink]="['/player/artist/', artistId]">
    <p class="text-gray-500 text-sm">{{'player.popular_artists.artist' | translate}} </p>
    <h3 class="mt-1 text-white">
      <a>
        {{artistName}}
      </a>
    </h3>
  </div>

</div>
