.play-display{
  transform: scale(2.3);
}

.change-display{
  transform: scale(1.5);
}

.extra-display{
  transform: scale(1);
}


.scroll::-webkit-scrollbar{
  width: 0px;
}

@media (max-width: 639px) {
  .side-nav{
    display: none;
  }
}
