
<aside id="default-sidebar" class=" top-0 left-0 z-40 m w-96 h-screen side-nav" aria-label="Sidebar">
  <div class="h-full px-3 py-4 overflow-y-auto  bg-pink-800 div-side-nav">
  @if (playerService.actualSong !== undefined) {
    <img
      id="player_img"
      (error)="setErrorCover()"
      [src]="getCover()"
      alt="Player"
      class="w-full object-cover rounded-lg h-[300px] shadow-box  "
      draggable="false"
    />
      <div class="m-2 text-white font-sans player">
        <div class="title_favorite_lanscape">
          <p class="text-2xl song-title">{{ playerService.actualSong()?.title}}</p>
          <div class="grid grid-cols-2 gap-2 favorite">
          <p class="text-ellipsis w-28 text-nowrap overflow-x-hidden">{{playerService.actualSong()?.author}}</p>
          <button class="btn_favortite_landscape">
            <p class="text-right">
              <mat-icon
                class="transition-all hover:scale-125"
                fontIcon="favorite"
              ></mat-icon>
              
            </p>
          </button>
         

          </div>
        </div>
         
          <div class="w-fit  btn_play_pause_landscape items-start justify-start ">
            <div >
              <p class="text-ellipsis w-10 sm:w-28 text-nowrap overflow-x-hidden  m-0">{{ playerService.actualSong()?.title}}</p>
              <p class="text-ellipsis w-10 sm:w-28 text-nowrap overflow-x-hidden  m-0 ">{{playerService.actualSong()?.author}}</p>
            </div>
            <div class="flex flex-row items-center gap-5 ">
              <button class="">
                <mat-icon
                  class="transition-all hover:scale-125"
                  fontIcon="favorite"
                ></mat-icon>
                
            </button>
            @if(playerService.playBackState() == false){
              <button (click)="resumeSong()">
                <mat-icon
                  class="play-display transition-all hover:text-pink-950"
                  fontIcon="play_arrow"
                />
              </button>
            }@else if(playerService.playBackState() == true){
              <button (click)="pauseSong()">
                <mat-icon
                  class="play-display transition-all hover:text-pink-950"
                  fontIcon="pause"
                />
              </button>
            }
            </div>
            
        </div>

        <div class="font-sans text-white">
          <input (change)="changeActualTime($event)" type="range" class="w-full progress-bar"  [value]="actualTimeInSecond" [step]="1" [max]="playerService.actualSong()?.durationSeconds" />
          <div class="grid grid-cols-2 mt-1 song-times">
            <div class="justify-start"><p>{{actualTime}}</p></div>
            <div><p class="text-right">{{getTime()}}</p></div>
          </div>
        </div>
        <!--Botones asaid lanscape -->
        <div class="bg-pink-600  h-auto mt-4 w-full scroll rounded-md text-white font-sans py-4  animate-duration-200 animate-fade flex items-center justify-evenly align-middle div-controls">
          <div class="w-fit mt-2">
            <button>
              <mat-icon
                class="extra-display  transition-all hover:text-pink-950"
                fontIcon="repeat"
              />
            </button>
          </div>
          <div class="w-fit mt-2">
            <button>
              <mat-icon
                class="change-display transition-all hover:text-pink-950"
                fontIcon="skip_previous"
              />
            </button>
          </div>
          <div class="w-fit mt-2">
            @if(playerService.playBackState() == false){
              <button (click)="resumeSong()">
                <mat-icon
                  class="play-display transition-all hover:text-pink-950"
                  fontIcon="play_arrow"
                />
              </button>
            }@else if(playerService.playBackState() == true){
              <button (click)="pauseSong()">
                <mat-icon
                  class="play-display transition-all hover:text-pink-950"
                  fontIcon="pause"
                />
              </button>
            }

          </div>
          <div class="w-fit mt-2">
            <button>
              <mat-icon
                class="change-display transition-all hover:text-pink-950"
                fontIcon="skip_next"
              />
            </button>
          </div>
          <div class="w-fit mt-2">
            <button>
              <mat-icon
                class="extra-display transition-all hover:text-pink-950"
                fontIcon="shuffle"
              />
            </button>
          </div>
        </div>
      </div>


  }

    <app-suggestion-list [suggestions]="playerService.suggestions()" ></app-suggestion-list>
  </div>
</aside>


<div class="hidden" id="player">

</div>
