::-webkit-scrollbar{
  width: 0px;


}
.play-display{
  transform: scale(2.3);
}

.change-display{
  transform: scale(1.5);
}

.extra-display{
  transform: scale(1);
}


.scroll::-webkit-scrollbar{
  width: 0px;
}
.shadow-box {
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0);

}

@media (max-width: 767px) {
  #default-sidebar {
    position: fixed;
    width: 100%;
    height: 140px;
    bottom: 0;
    left: 0;
    top: auto;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .div-side-nav{
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;


    #player_img {
      display: flex;
      align-items: center;
      order: 1;
      width: 60px;
      height: 60px;
    }

    .player {
      display: flex;
      flex-direction: column;
      order: 2;
      height: 60px;
      width: 80%;
      margin-bottom: 20px;
      justify-content: center;
      align-items: center;

      .favorite {
        display: flex;
        justify-content: space-between;
        order: 1;
        width: 100%;
      }

      .song-title{
        display: flex;
        justify-content: start;
        width: 100%;
        margin-top: 10px;
        order: 1;
        width: 100%;
        margin-top: 35px;

      }

      .text-nowrap {
        text-wrap: nowrap;
        width: 80%;
    }

      .progress-bar {
        display: none;
      }

      .div-controls{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        order: 2;
        background: none;
        width: 80%;
        height: 20px !important;
      }

    }
    app-suggestion-list {
      display: none;
    }
  }


}
