
<aside id="default-sidebar" class=" top-0 left-0 z-40 w-[360px] h-screen side-nav" aria-label="Sidebar">

  <div class="h-full px-3 py-4 overflow-y-auto  bg-[#191919] lg:border-l-[1px] border-l-0 lg:border-l-neutral-500 div-side-nav">

  @if (playerService.actualSong !== undefined) {


      <img
      id="player_img"
      (error)="setErrorCover()"
      [src]="getCover()"
      alt="Player"
      class=" object-cover rounded-lg h-[300px] w-[360px]  "
      draggable="false"
    />





      <div class="m-2 text-white  font-sans player w-full">
        <div class="title_favorite_lanscape">
          <p class="text-2xl song-title text-ellipsis w-50  text-nowrap overflow-x-hidden ">{{ playerService.actualSong()?.title}}</p>
          <div class="grid grid-cols-2 gap-2 favorite">
          <p class="text-ellipsis w-28 text-nowrap overflow-x-hidden">{{playerService.actualSong()?.author}}</p>
          <button class="btn_favortite_landscape ">
            <p class="text-right ">
              <mat-icon
                class="transition-all  text-pink-500 hover:text-pink-950 hover:scale-125"

                fontIcon="favorite"
              ></mat-icon>
              <mat-icon
                (click)="activeVideo()"
                class="transition-all ml-2 text-pink-500 hover:text-pink-950 hover:scale-125"
                fontIcon="fullscreen"
              >
              </mat-icon>
            </p>
          </button>


          </div>
        </div>

          <div class="w-fit  btn_play_pause_landscape items-start justify-between">
            <div class="">
              <p class="text-ellipsis text-base w-20 sm:w-28 max-w-20 sm:max-w-32 text-nowrap overflow-x-hidden  m-0">{{ playerService.actualSong()?.title}}</p>
              <p class="text-ellipsis text-xs text-zinc-500 w-20 sm:w-28 max-w-20 sm:max-w-32 text-nowrap overflow-x-hidden  m-0 ">{{playerService.actualSong()?.author}}</p>
            </div>
            <div class="flex flex-row items-center gap-5 ">
              <button class="">
                <mat-icon
                  class="transition-all hover:scale-125"
                  fontIcon="favorite"
                ></mat-icon>

            </button>
            @if(playerService.playBackState() == false){
              <button (click)="resumeSong()">
                <mat-icon
                  class=" w-[25px] h-[25px] text-pink-500 hover:text-pink-950 transition-all"
                  fontIcon="play_arrow"
                />
              </button>
            }@else if(playerService.playBackState() == true){
              <button (click)="pauseSong()">
                <mat-icon
                  class="w-[25px] h-[25px] transition-all text-pink-500 hover:text-pink-950"
                  fontIcon="pause"
                />
              </button>



            }
            <button (click)="activeVideo()">
              <mat-icon
              class="  transition-all hover:scale-125"
              fontIcon="fullscreen"
            />

            </button>
            </div>

        </div>

        <div class="font-sans text-white">
          <input (change)="changeActualTime($event)" type="range" class="w-full progress-bar"  [value]="actualTimeInSecond" [step]="1" [max]="playerService.actualSong()?.durationSeconds" />
          <div class="grid grid-cols-2 mt-1 song-times">
            <div class="justify-start"><p>{{actualTime}}</p></div>
            <div><p class="text-right">{{getTime()}}</p></div>
          </div>
        </div>
        <!--Botones asaid lanscape -->
        <div class="  h-auto mt-4 w-full scroll rounded-md text-white font-sans py-4  animate-duration-200 animate-fade flex items-center justify-evenly align-middle div-controls">
          <div class="w-fit mt-2">
          @if (playerService.isLoop()) {
            <button (click)="disableLoop()">
              <mat-icon
                class="extra-display  transition-all text-pink-500 hover:text-pink-950"
                fontIcon="repeat_one"
              />
            </button>
          }@else {
            <button (click)="activeLoop()">
              <mat-icon
                class="extra-display  transition-all text-pink-500 hover:text-pink-950"
                fontIcon="repeat"
              />
            </button>
          }

          </div>
          <div class="w-fit mt-2">
            <button (click)="previousSong()">
              <mat-icon
                class="change-display transition-all text-pink-500 hover:text-pink-950"
                fontIcon="skip_previous"
              />
            </button>
          </div>
          <div class="w-fit mt-2">
            @if(playerService.playBackState() == false){
              <button (click)="resumeSong()">
                <mat-icon
                  class="play-display transition-all text-pink-500 hover:text-pink-950"
                  fontIcon="play_arrow"
                />
              </button>
            }@else if(playerService.playBackState() == true){
              <button (click)="pauseSong()">
                <mat-icon
                  class="play-display transition-all text-pink-500 hover:text-pink-950"
                  fontIcon="pause"
                />
              </button>
            }

          </div>
          <div class="w-fit mt-2">
            <button (click)="nextSong()">
              <mat-icon
                class="change-display transition-all text-pink-500 hover:text-pink-950"
                fontIcon="skip_next"
              />
            </button>
          </div>
          <div class="w-fit mt-2">
            <button>
              <mat-icon
                class="extra-display transition-all text-pink-500 hover:text-pink-950"
                fontIcon="shuffle"
              />
            </button>
          </div>
        </div>
      </div>


  }
    <app-suggestion-list [suggestions]="playerService.suggestions()" ></app-suggestion-list>
  </div>
</aside>



<dialog (error)="setImageInError()"   id="video_dialog"  class="w-full h-full z-50 bg-black fixed top-0 lg:p-10 p-2 bottom-0 hidden bg-cover bg-center bg-no-repeat backdrop:blur-md    items-center justify-center flex-col "   [open]="playerService.videoView()">
  <div>
    <mat-icon
    (click)="disableVideo()"
    class="absolute top-2 right-2 cursor-pointer  text-white transition-all hover:scale-105 hover:text-pink-300  duration-150  rounded-full "
    fontIcon="fullscreen_exit"
    >

    </mat-icon>
  </div>
  <div class="  w-full p-5  h-[80%] lg:p-2  relative  backdrop-blur-0 flex flex-col align-middle items-center justify-center">
 
    <div id="player" class="shadow-2xl hidden lg:block shadow-black w-full h-full bg-black bg-opacity-50 rounded-lg"></div> 
    <img 
    id="dialog_img"
    (error)="setErrorCoverDialog()"
    class="shadow-2xl lg:hidden block shadow-black w-full h-[50%] sm:h-full object-cover bg-black bg-opacity-50 rounded-lg"
    [src]="getCover()"
    >
  </div>
  @if (playerService.actualSong !=undefined) {
    <div class="font-sans text-white mt-3 w-[90%] lg:w-full">
      <input (change)="changeActualTime($event)" type="range" class="w-full progress-bar"  [value]="actualTimeInSecond" [step]="1" [max]="playerService.actualSong()?.durationSeconds" />
      <div class="grid grid-cols-2 mt-1 song-times">
        <div class="justify-start"><p>{{actualTime}}</p></div>
        <div><p class="text-right">{{getTime()}}</p></div>
      </div>
    </div>

    <div  class="  h-auto mt-4 w-full scroll rounded-md  bg-zinc-600 bg-opacity-30 font-sans py-4 px-5 animate-duration-200 animate-fade flex items-center justify-evenly align-middle div-controls">
          <div class="w-fit ">
          @if (playerService.isLoop()) {
            <button class="" (click)="disableLoop()">
              <mat-icon
                class="extra-display  transition-all  text-pink-500 hover:text-pink-950"
                fontIcon="repeat_one"
              />
            </button>
          }@else {
            <button class="" (click)="activeLoop()">
              <mat-icon
                class="extra-display  transition-all  text-pink-500 hover:text-pink-950"
                fontIcon="repeat"
              />
            </button>
          }

          </div>
          <div class="w-fit ">
            <button class="" (click)="previousSong()">
              <mat-icon
                class="change-display transition-all text-pink-500 hover:text-pink-950"
                fontIcon="skip_previous"
              />
            </button>
          </div>
          <div class="w-fit   ">
            @if(playerService.playBackState() == false){
              <button class="" (click)="resumeSong()">
                <mat-icon
                  class="play-display transition-all  text-pink-500 hover:text-pink-950"
                  fontIcon="play_arrow"
                />
              </button>
            }@else if(playerService.playBackState() == true){
              <button class="" (click)="pauseSong()">
                <mat-icon
                  class="play-display transition-all text-pink-500 hover:text-pink-950"
                  fontIcon="pause"
                />
              </button>
            }

          </div>
          <div class="w-fit  ">
            <button class="" (click)="nextSong()">
              <mat-icon 
                class="change-display transition-all  text-pink-500 hover:text-pink-950"
                fontIcon="skip_next"
              />
            </button>
          </div>
          <div class="w-fit  ">
            <button class="">
              <mat-icon
                class="extra-display transition-all  text-pink-500  hover:text-pink-950"
                fontIcon="shuffle"
              />
            </button>
          </div>
        </div>
      

  }
</dialog>
