<form [formGroup]="registerForm">
  <div class="mb-4">
      <input type="text" placeholder="Usuario" formControlName="username"  class="w-full p-3 border border-gray-300 rounded">
  </div>
  <div class="mb-4">
    <input type="text" placeholder="Email" formControlName="email" class="w-full p-3 border border-gray-300 rounded">
  </div>
  <div class="mb-4">
      <input type="password" placeholder="Contraseña" formControlName="password"  class="w-full p-3 border border-gray-300 rounded">
  </div>
  <div class="mb-4">
    <input type="password" placeholder="Confirma tu contraseña" formControlName="confirmPassword" class="w-full p-3 border border-gray-300 rounded">
  </div>
  <div class="mb-4">
      <button  class="w-full p-3 bg-pink-700 text-white rounded font-sans hover:bg-pink-800">Registrarse</button>
  </div>
  <div class="flex items-center my-4">
    <div class="flex-grow border-t border-gray-300"></div>
    <span class="mx-4 text-gray-500">O</span>
    <div class="flex-grow border-t border-gray-300"></div>
</div>
  <div class="mb-4">
      <button class="w-full p-3 bg-gray-100 border border-gray-300 text-gray-700 rounded flex items-center justify-center font-sans font-bold hover:bg-gray-300" >
          <img src="../../../assets/img/googleLogo.png" alt="Google" class="w-6 h-6 mr-2"> Registrarse con Google
      </button>
  </div>
</form>
<p class="text-center mt-3 text-zinc-400">¿Ya tienes cuenta? <a [routerLink]="['/login']" class="text-pink-500 font-sans hover:text-pink-600">Iniciar sesión</a></p>