.navdeabajo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.caratulacancion{
    width: 10%;
}

.repdroductor{
    flex-basis: 53%;
}

@media (max-width: 800px) {
    .repdroductor{
        flex-basis: 53%;
    }
}

@media (max-width: 650px) {
    .repdroductor{
        flex-basis: 70%;
    }
}

@media (max-width: 500px) {
    .repdroductor{
        flex-basis: 70%;
    }
}


