<div class="w-full h-full  p-4 animate-fade animate-duration-300">

  @if (suggestionMap.get('topResult')!.length > 0) {

  <!--* TOP RESULT  -->
  <span class="text-lg text-white">{{'player.search_page.best_result' | translate}}</span>
  <div class="songs flex flex-col text-white gap-4 mt-3 animate-fade animate-duration-150">
    @for (result of suggestionMap.get('topResult'); track $index) {
    <app-result-box [type]="result.resultType" [song]="result" [album]="result.thumbnails[0].url"
      [nameSong]="result.title" [artists]="result.artists"></app-result-box>
    }
  </div>
  }

  <!--* CANCIONES  -->
  @if (suggestionMap.get('artists')!.length > 0) {
  <hr class="m-2 sm:m-4 border-pink-300">
  <span class="text-lg text-white">{{'player.search_page.songs' | translate}}</span>
  <div class="songs flex flex-col text-white gap-4  mt-3 animate-fade animate-duration-150">
    @for (song of suggestionMap.get('songs'); track $index) {
    <app-song-large [song]="song"></app-song-large>
    }
  </div>
  }

  <!--* ARTISTAS  -->
  @if (suggestionMap.get('artists')!.length > 0) {
  <hr class="m-2 sm:m-4 border-pink-300">
  <span class="text-lg text-white">{{'player.search_page.artists' | translate}}</span>
  <div class="artists flex flex-row overflow-x-auto mt-3 animate-fade animate-duration-150">
    @for (artist of suggestionMap.get('artists'); track $index) {
    <app-artist-card [radioId]="artist.radioId" [thumbnail]="artist.thumbnails"
      [artistName]="artist.artist"></app-artist-card>
    }
  </div>
  }

  <!--* PLAYLISTS  -->
  @if(suggestionMap.get('playlist')!.length > 0){
  <hr class="m-2 sm:m-4 border-pink-300">
  <span class="text-lg text-white mt-3">{{'player.search_page.playlists' | translate}}</span>
  <div class="artists flex flex-row overflow-x-auto animate-fade animate-duration-150">
    @for (playlist of suggestionMap.get('playlist'); track $index) {
    <app-song-box [type]="'playlist'" [browsedId]="playlist.browseId" [thumbnail]="playlist.thumbnails"
      [nombreAlbum]="playlist.title"></app-song-box>
    }
  </div>
  }

  <!--* ALBUMES  -->
  @if (suggestionMap.get('albums')!.length > 0) {
  <hr class="m-2 sm:m-4 border-pink-300 mt-3">
  <span class="text-lg text-white ">{{'player.search_page.albums' | translate}}</span>
  <div class="artists flex flex-row overflow-x-auto animate-fade animate-duration-150">

    @for (albums of suggestionMap.get('albums'); track $index) {
      
    <app-song-box [type]="'album'" [browsedId]="albums.browseId" [thumbnail]="albums.thumbnails"
      [nombreAlbum]="albums.title"></app-song-box>
    }


  </div>
  }
</div>
