

<mat-sidenav-container class="w-full h-full" autosize>
    
    <mat-sidenav #sidenav position="end" class="example-sidenav" mode="side" opened="true">
        <playerSide></playerSide>
    </mat-sidenav>
 
    <div class="content">

        <app-button></app-button>
        <app-song-box [caratulaAlbum]="songtitle" [nombreAlbum]="songalbum">
        </app-song-box>
        <app-album-box [caratulaAlbum]="albumtitle" [nombreAlbum]="albumalbum"></app-album-box>
    
        <sonk-genre-card [genre]='genre' [image]='image'  [icon]='icon' ></sonk-genre-card>
        <!-- <router-outlet /> -->
    </div>
 
</mat-sidenav-container>
