<div class="flex flex-col w-full px-2 sm:px-20 flex-grow main-page overflow-x-hidden">

  <!-- * CHIPS -->
  <section class="flex justify-start w-full">
    <app-button></app-button>
  </section>

  <!-- * CANCIONES MAS RECIENTES -->
  <section class="flex justify-start mt-3">
    <span class="font-sans text-white">Canciones más recientes</span>
  </section>
  <section class="flex justify-start gap-1 sm:gap-3 overflow-x-auto scroll">
    <app-song-box [caratulaAlbum]="songtitle" [nombreAlbum]="songalbum" />
    <app-song-box [caratulaAlbum]="songtitle" [nombreAlbum]="songalbum" />
    <app-song-box [caratulaAlbum]="songtitle" [nombreAlbum]="songalbum" />
    <app-song-box [caratulaAlbum]="songtitle" [nombreAlbum]="songalbum" />
    <app-song-box [caratulaAlbum]="songtitle" [nombreAlbum]="songalbum" />
    <app-song-box [caratulaAlbum]="songtitle" [nombreAlbum]="songalbum" />
    <app-song-box [caratulaAlbum]="songtitle" [nombreAlbum]="songalbum" />
    <app-song-box [caratulaAlbum]="songtitle" [nombreAlbum]="songalbum" />
  </section>

  <hr class="my-2 sm:my-4 border-pink-300">

  <div class="flex flex-col sm:flex-row items-start justify-start">

    <!-- * PLAYLIST MAS ESCUCHADA -->
    <div class="mb-4 sm:mr-4">
      <span class="font-sans text-white">Playlist más escuchada</span>
      <app-album-box [caratulaAlbum]="albumtitle" [nombreAlbum]="albumalbum"></app-album-box>
    </div>

    <div class="flex flex-col sm:flex-row gap-4 sm:gap-6">
      <!-- * CANCIONES DEVCOMENDADAS -->
      <div class="flex flex-col">
        <span class="font-sans text-white block">Devcomendaciones </span>
        <div class="grid grid-cols-2 gap-1 sm:gap-2">
          <app-song-box [caratulaAlbum]="songtitle" [nombreAlbum]="songalbum" />
          <app-song-box [caratulaAlbum]="songtitle" [nombreAlbum]="songalbum" />
          <app-song-box [caratulaAlbum]="songtitle" [nombreAlbum]="songalbum" />
          <app-song-box [caratulaAlbum]="songtitle" [nombreAlbum]="songalbum" />
        </div>
      </div>

      <!--  * GÉNEROS MUSICÁLES -->
      <div class="flex flex-col">
        <span class="font-sans text-white">Géneros</span>
        <sonk-genre-card [genre]='genre' [image]='image' [icon]='icon' class="mb-4"></sonk-genre-card>
        <sonk-genre-card [genre]='genre' [image]='image' [icon]='icon' class="mb-4"></sonk-genre-card>
        <sonk-genre-card [genre]='genre' [image]='image' [icon]='icon' class="mb-4"></sonk-genre-card>
        <sonk-genre-card [genre]='genre' [image]='image' [icon]='icon' class="mb-4"></sonk-genre-card>
        <sonk-genre-card [genre]='genre' [image]='image' [icon]='icon' class="mb-4"></sonk-genre-card>
        <sonk-genre-card [genre]='genre' [image]='image' [icon]='icon' class="mb-4"></sonk-genre-card>
      </div>

    </div>
  </div>
</div>
