<div class="h-screen w-screen font-sans relative customBg">
  <div class="blur"></div>
  <div class="content-wrapper mx-auto max-w-7xl pt-16 sm:pt-24 relative z-10 overflow-auto">
    <section class="">
      <div class="">
          <div class="mx-auto max-w-screen-sm text-center">
              <img class="w-70" src="../../../assets/img/patrick.webp">
              <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-pink-600">404</h1>
              <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl dark:text-white">Página no encontrada</p>
              <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400">Lo siento, no podemos encontrar esta página. ¡Vuelve a nuestra página principal para escuchar música!</p>
              <a href="/" class="inline-flex text-white bg-pink-800 transition-all hover:scale-110 font-medium rounded-lg text-sm px-5 py-2.5 text-center my-4">Volver al inicio</a>
          </div>
      </div>
  </section>
</div>
</div>
