  <app-navbar></app-navbar>



@if (!iphone) {
  <mat-sidenav-container class="w-full h-full bg-black " autosize>
    <mat-sidenav #sidenav position="end" class="example-sidenav" mode="side" opened="true" class="bg-black">
      <playerSide></playerSide>
    </mat-sidenav>
    <div class="content w-full mb-[150px] lg:mb-16">
      <router-outlet />
    </div>
  </mat-sidenav-container>

}@else {
  <div class="flex flex-col ">
    <div class="mb-[150px]">
      <router-outlet />
    </div>
    <playerSide></playerSide>
  </div>
}

