

<app-navbar></app-navbar>

@if (!iphone) {

<mat-sidenav-container  class="w-full h-full bg-black " autosize>
  <mat-sidenav #sidenav position="end" class="example-sidenav " mode="side"
    [opened]="playerService.actualSong!()==undefined ? false : true" class="bg-black">

    <playerSide></playerSide>
  </mat-sidenav>

  <div class="content w-full mb-[150px] lg:mb-16">
    <div  class="flex-row-reverse hidden lg:flex bg-transparent relative">
      @if (playerService.actualSong!()!=undefined) {
      <mat-icon (click)="toggleNav()" id="icon_open"
        class="hover:bg-pink-700 transition-colors absolute right-0 duration-150 hover:text-[#191919]  rounded-bl-md bg-[#191919] text-white mat-1 rotate-0 z-50 hover:cursor-pointer">chevron_right</mat-icon>
      }@else {
      <mat-icon
        class="opacity-0 transition-colors  duration-150 absolute right-0 text-inherit mat-1 hover:cursor-pointer">chevron_right</mat-icon>
      }
    </div>
    @if (loading == true) {
      <div class="flex flex-row justify-center items-center h-96 mt-40">
        <shared-loading></shared-loading>
      </div>
    }@else {
      <router-outlet />
    }
  </div>
</mat-sidenav-container>

}@else {
<div class="flex flex-col ">
  <div class="mb-[150px]">
    <router-outlet />
  </div>
  <playerSide></playerSide>
</div>
}
