.flex {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
}

img {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  object-fit: cover;
}

.letras {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 17px;
  color: #ffffff;
  background-color: #2e2e2e;
  padding: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}

.mat-button {
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: rgb(241, 241, 241);
  background-color: #db2778ec;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.87);
}

.play-button {
  position: absolute;
  //inicialmente ponemos la posicion tanto del eje x como del eje y
  bottom: 35%;
  left: 85%;
  //tambien aplicamos las opacidad para esconderlo
}
